<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>ServletRequestAPI</servlet-name>
        <servlet-class>_07servlet.ServletRequestApI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRequestAPI</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ParameterForm</servlet-name>
        <servlet-class>_07servlet.ParameterForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParameterForm</servlet-name>
        <url-pattern>/parameter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>forward.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>forward.Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForwardC</servlet-name>
        <servlet-class>forward.ForwardC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardC</servlet-name>
        <url-pattern>/forwardC</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletIOResp</servlet-name>
        <servlet-class>_07servlet.ServletIOResp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIOResp</servlet-name>
        <url-pattern>/resp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Response1</servlet-name>
        <servlet-class>resp.Response1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Response1</servlet-name>
        <url-pattern>/resp1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Response2</servlet-name>
        <servlet-class>resp.Response2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Response2</servlet-name>
        <url-pattern>/resp2</url-pattern>
    </servlet-mapping>


</web-app>